<!-- <p>
  navbar works!
</p> -->
<nav class="navbar navbar-expand-md navbar-dark bg-nav-purple fixed-top">
  <a class="navbar-brand text-white">
    para-Bombay 
  </a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="nav nav-pills mr-auto mt-2 mt-lg-0 btn-purple" id="pills-tab" role="tablist">
      <li class="nav-item" *ngIf="auth.authenticated">
        <a class="nav-link active" id="pills-blood-tab" data-toggle="pill" routerLink="/bloodsearch" role="tab" aria-controls="pills-blood"
          aria-selected="true">ค้นหาหมู่เลือด</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated">
        <a class="nav-link" id="pills-test-tab" data-toggle="pill" routerLink="/testsearch" role="tab" aria-controls="pills-test"
          aria-selected="false">ค้นหาการทดสอบ</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated">
        <a class="nav-link" id="pills-result-tab" data-toggle="pill" routerLink="/result" role="tab" aria-controls="pills-result"
          aria-selected="false">สรุปผล</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated">
        <a class="nav-link" id="pills-users-tab" data-toggle="pill" routerLink="/user" role="tab" aria-controls="pills-users" aria-selected="false">ผู้ใช้งาน</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated">
        <a class="nav-link" id="pills-condition-tab" data-toggle="pill" routerLink="/condition" role="tab" aria-controls="pills-condition"
          aria-selected="false">เงื่อนไขการวิเคราะห์</a>
      </li>
    </ul>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <!-- <li>
        <a class="nav-link" [routerLink]="['/']">หน้าแรก</a>
      </li> -->
      <!-- <li *ngIf="!auth.authenticated">
        <a class="nav-link" [routerLink]="['/login']">เข้าสู่ระบบ</a>
      </li> -->
      <!-- <li *ngIf="auth.authenticated">
        <a class="nav-link" [routerLink]="['/profile']">โปรไฟล์</a>
      </li> -->
      <!-- <li *ngIf="auth.authenticated">
        <a class="nav-link" (click)="this.auth.signOut()">ออกจากระบบ</a>
      </li> -->
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown" *ngIf="auth.authenticated">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <div *ngIf="auth.user | async as user">
            {{user.email}}
          </div> -->
          <!-- profile -->
          {{profile.email}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="profile">ข้อมูลส่วนตัว</a>
          <a class="dropdown-item" routerLink="changepassword">เปลี่ยนรหัสผ่าน</a>
          <a class="dropdown-item" routerLink="login" (click)="this.auth.signOut()">ออกจากระบบ</a>
        </div>
      </li>
    </ul>
  </div>
</nav>