<div class="container-fluid">
  <h2 style="color:#365082">เพิ่มคนไข้รายใหม่</h2>

  <form class="form-control">
    <div class="row">
      <div class="col">
        รหัสบัตรประชาชน
        <input id="myId" type="text" class="form-control form-control-sm" placeholder="รหัสบัตรประชาชน 13 หลัก" value="1111111111111">
        <div class="row">
          <div class="col">
            คำนำหน้าชื่อ&nbsp;
            <select id="minit" class="form-control form-control-sm">
              <option value="volvo">นาย</option>
              <option value="saab">นาง</option>
              <option value="mercedes" selected>นางสาว</option>
              <option value="audi">เด็กชาย</option>
              <option value="volvo">เด็กหญิง</option>
            </select>
          </div>
          <div class="col">
            ชื่อ &nbsp;
            <input id="fName" type="text" class="form-control form-control-sm" value="พัชราภา">
          </div>
          <div class="col">
            นามสกุล&nbsp;
            <input id="lName" type="text" class="form-control form-control-sm" value="ไชยเชื้อ">
          </div>
        </div>
        <div class="row">
          <div class="col">
            วันเดือนปีเกิด&nbsp;
            <input id="bDate" type="date" class="form-control form-control-sm" value="1995-10-11">
          </div>
          <div class="col">
            อายุ (ปี)&nbsp;
            <input id="bDate" type="text" class="form-control form-control-sm" value="22">
          </div>
        </div>
        <div class="row">
          <div class="col">
            เบอร์ติดต่อ1&nbsp;
            <input id="tel1" type="number" class="form-control form-control-sm" value="0895564203">
          </div>
          <div class="col">
            เบอร์ติดต่อ2&nbsp;
            <input id="tel2" type="number" class="form-control form-control-sm" value="0994264286">
          </div>
        </div>
      </div>
      <div class="col">

        ที่อยู่&nbsp;
        <input id="address" type="text" class="form-control form-control-sm" value="239 ถ. ห้วยแก้ว">
        <div class="row">
          <div class="col">
            จังหวัด&nbsp;
            <select id="city" class="form-control form-control-sm">
              <option value="volvo" selected>เชียงใหม่</option>
              <option value="saab">กรุงเทพมหานคร</option>
              <option value="mercedes">เชียงราย</option>
              <option value="audi">ลำพูน</option>
              <option value="volvo">ลำปาง</option>
            </select>
          </div>
          <div class="col">
            อำเภอ&nbsp;
            <select id="amphoe" class="form-control form-control-sm">
              <option value="volvo" selected>เมือง เชียงใหม่</option>
              <option value="saab">สันทราย</option>
              <option value="mercedes">ดอยสะเก็ด</option>
              <option value="audi">เชียงดาว</option>
            </select>
          </div>
        </div>
        <div class="row">

          <div class="col">
            ตำบล&nbsp;
            <br>
            <select id="tbon" class="form-control form-control-sm">
              <option value="volvo" selected>สุเทพ</option>
              <option value="saab">วัดเกตุ</option>
              <option value="mercedes">ช้างเผือก</option>
            </select>
          </div>
          <div class="col">
            รหัสไปรษณีย์&nbsp;
            <div class="row">
              <div class="col">
                <input id="post" type="number" class="form-control form-control-sm" value="50200">
              </div>
            </div>
          </div>
        </div>

        <br>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col text-center">
        <a href="search2detail.php" class="btn btn-sm btn-outline-primary">สร้าง</a>
      </div>
    </div>
  </form>

</div>