<!-- <div class="py-1" id="wrapper">
  <div class="container-col"> -->
<div class="py-3 border border-primary">
  <div class="container">

    <!-- <div class="text-red">12/31/2017 01:30 PM (ดด/วว/ปป ชั่วโมง:วินาที)</div> -->

    <div class="row">
      <div class="col-md-12">

        <div class="row">

          <div class="col-md-6">
            <div class="py-1 text-center bg-light border border-primary">
              <div class="container">

                <div class="row">
                  <div class="col-11">
                    <h4>Cell Grouping</h4>
                  </div>
                  <div class="col-1">
                    <button type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h5 class="text-left">Anti-A</h5>
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-radio">
                        <input id="Anti-A1" name="Anti-A" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-A2" name="Anti-A" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-A3" name="Anti-A" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-A4" name="Anti-A" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">1+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-A5" name="Anti-A" type="radio" class="custom-control-input" checked="">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Neg</span>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="text-left">Anti-B</h5>
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-radio">
                        <input id="Anti-B1" name="Anti-B" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-B2" name="Anti-B" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-B3" name="Anti-B" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-B4" name="Anti-B" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">1+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-B5" name="Anti-B" type="radio" class="custom-control-input" checked="">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Neg</span>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="text-left">Anti-A,B</h5>
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-radio">
                        <input id="Anti-AB1" name="Anti-AB" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-AB2" name="Anti-AB" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-AB3" name="Anti-AB" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-AB4" name="Anti-AB" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">1+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-AB5" name="Anti-AB" type="radio" class="custom-control-input" checked="">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Neg</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6"> </div> -->
          </div>



          <div class="col-md-6">
            <div class="py-1 text-center bg-light border border-primary">
              <div class="container">


                <div class="row">
                  <div class="col-11">
                    <h4>Serum Grouping</h4>
                  </div>
                  <div class="col-1">
                    <button type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h5 class="text-left">A cells</h5>
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-radio">
                        <input id="Acell1" name="Acell" type="radio" class="custom-control-input" checked="">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Acell2" name="Acell" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Acell3" name="Acell" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Acell4" name="Acell" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">1+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Acell5" name="Acell" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Neg</span>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="text-left">B cells</h5>
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-radio">
                        <input id="Bcell1" name="Bcell" type="radio" class="custom-control-input" checked="">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Bcell2" name="Bcell" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Bcell3" name="Bcell" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Bcell4" name="Bcell" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">1+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Bcell5" name="Bcell" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Neg</span>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="text-left">O cells</h5>
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-radio">
                        <input id="Ocell1" name="Ocell" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Ocell2" name="Ocell" type="radio" class="custom-control-input" checked="">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Ocell3" name="Ocell" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Ocell4" name="Ocell" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">1+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Ocell5" name="Ocell" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Neg</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <p>หมายเหตุ</p>
        <input id="note" type="text" class="form-control-sm form-control">
        <br>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <label class="btn btn-sm btn-outline-secondary">
          Add Photo
          <input type="file" hidden id="photoBtn">
        </label>
      </div>
      <div class="col-5">
        <!-- <a href="#" id="editBtn" class="btn btn-warning btn-block" onclick="canEdit();" style="display:none" >Edit</a>
                      <a href="#" id="anaBtn" class="btn btn-success btn-block" onclick="showAnalysis();" >บันทึก</a> -->
        <div id="tempNotFound" style="display: none;color:red">
          <h5>group O with unexpected alloantibody</h5>
        </div>
      </div>
    </div>

  </div>
</div>
<br>
<!-- <center>
              <button type="button" id="anaBtn" class="btn btn-sm btn-success " onclick="showAnalysis();">บันทึก</button>
            </center> -->
<button type="button" id="anaBtn" class="btn btn-sm btn-success " style="text-align:center">บันทึก</button>

<!-- <br> -->
<!-- <a href="phenotype1more.php" class="btn btn-dark" onclick="addTest();">More</a> -->
<!-- </div>
</div> -->