<div class="container-fluid">
  <h3>ค้นหาผู้ใช้งาน</h3>
  <nav>
    <button type="button" class="btn btn-info btn-sm" routerLink="/createuser">สร้างผู้ใช้งานใหม่</button>
  </nav>
  <router-outlet></router-outlet>

  <!-- <nav>
    <a routerLink="/addWiki">AAAA -->
  <!-- <button type="button" class="btn btn-info btn-sm">สร้างผู้ใช้งานใหม่</button> -->
  <!-- </a>
  </nav> -->
  <!-- <router-outlet></router-outlet> -->

  <form class="form-control">
    <div class="row">
      <div class="col">
        อีเมล์
        <input id="username" type="text" class="form-control form-control-sm">
        <div class="row">
          <div class="col">
            ชื่อจริง
            <input type="text" class="form-control form-control-sm">
          </div>
          <div class="col">
            นามสกุล
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="col">
        สิทธิ์การใช้งาน
        <select class="form-control form-control-sm" id="privilege">
          <option value="-">---- เลือกสิทธิ์การใช้งาน ----</option>
          <option value="1">พยาบาล</option>
          <option value="2">เจ้าหน้าที่เทคนิคการแพทย์</option>
          <option value="3">ผู้ดูแลระบบ</option>
        </select>
        สังกัดโรงพยาบาล
        <select class="form-control form-control-sm" id="hospital">
          <option value="-">---- เลือกชื่อโรงพยาบาล ----</option>
          <option value="1">มหาราช</option>
          <option value="2">เชียงใหม่ราม</option>
          <option value="3">ช้างเผือก</option>
          <option value="4">ลานนา</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <button type="button" class="btn btn-outline-primary btn-sm">ค้นหา</button>
      </div>
    </div>

  </form>
  <br>
  <!-- <div class="row"> -->
  <!-- <div class="h-100 row align-items-center"> -->
  <!-- <table id="tempTable" class="table table-sm table-striped table-bordered table-hover table-responsive " align="right" style="display: block"> -->
  <table id="tempTable" class="table table-sm table-striped table-bordered table-hover">

    <thead class="thead-dark">
      <tr>
        <th>อีเมล์</th>
        <th>ชื่อ</th>
        <th>นามสกุล</th>
        <th>สิทธิ์การใช้งาน</th>
        <th>สังกัดโรงพยาบาล</th>
        <th>รายละเอียด</th>
        <th>ลบ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>patcharapa_c@cmu.ac.th</td>
        <td>พัชราภา</td>
        <td>ไชยเชื้อ</td>
        <td>เจ้าหน้าที่เทคนิคการแพทย์</td>
        <td>มหาราช</td>
        <td>
          <a routerLink="/viewuserprofile" class="btn btn-sm btn-outline-primary">รายละเอียด</a>
        </td>
        <td>
          <a href="#" class="btn btn-sm btn-outline-danger">ลบ</a>
        </td>
      </tr>
      <tr>
        <td>teeradetch_m@cmu.ac.th</td>
        <td>ธีรเดช</td>
        <td>เมธาวรายุทธ</td>
        <td>พยาบาล</td>
        <td>มหาราช</td>
        <td>
          <a routerLink="/viewuserprofile" class="btn btn-sm btn-outline-primary">รายละเอียด</a>
        </td>
        <td>
          <a href="#" class="btn btn-sm btn-outline-danger">ลบ</a>
        </td>
      </tr>
      <tr>
        <td>jarinporn_j@cmu.ac.th</td>
        <td>จรินทร์พร</td>
        <td>จุนเกียรติ</td>
        <td>ผู้ดูแลระบบ</td>
        <td>มหาราช</td>
        <td>
          <a routerLink="/viewuserprofile" class="btn btn-sm btn-outline-primary">รายละเอียด</a>
        </td>
        <td>
          <a href="#" class="btn btn-sm btn-outline-danger">ลบ</a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- </div> -->
  <!-- </div> -->
</div>