<div class="container-fluid">
  <!-- <div class="row">
      <div class="col-md-12">
        <div class="btn-group">
          <a class="btn btn-primary" href="condition.php">การตรวจหมู่เลือดเอบีโอ</a>
          <a href="detailphenotype1.php" class="btn btn-outline-primary">การตรวจน้ำลาย</a>
        </div>
      </div>
    </div> -->

  <div style="color:#365082">
    <h2>จัดการเงื่อนไขในการวิเคราะห์: การตรวจหมู่เลือดเอบีโอ</h2>
  </div>
  <a routerLink="/createabocondition" class="btn btn-sm btn-outline-primary">สร้างเงื่อนไขใหม่</a>
  <form class="form-control">

    <div class="row">
      <div class="col-10">

        การแปลผล
        <select class="form-control form-control-sm">
          <option value="audi"></option>
          <option value="audi">ทั้งหมด</option>
          <option value="volvo">Group A</option>
          <option value="volvo">Group B</option>
          <option value="volvo">Group AB</option>
          <option value="volvo">Group O</option>
          <option value="volvo">Group O Bombay</option>
          <option value="volvo">Group A with unexpected alloantibody</option>
          <option value="volvo">Group B with unexpected alloantibody</option>
          <option value="volvo">Group AB with unexpected alloantibody</option>
          <option value="volvo">Group O with unexpected alloantibody</option>
        </select>


      </div>
      <div class="col-2">
        <br>
        <button type="button" class="btn btn-sm btn-outline-primary" onclick="showTable();" href="#">ค้นหา</button>
      </div>

    </div>
  </form>
  <br>




  <!-- </form> -->
  <!-- <button type="button" class="btn btn-outline-danger">ลบ</button> -->
  <table class="table table-sm table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>

          <button type="button" class="btn btn-sm btn-outline-danger">ลบ</button>

        </th>
        <th colspan="3" border="1">Cell Grouping</th>
        <th colspan="3" border="1">Serum Grouping</th>

      </tr>
      <tr>
        <th>

          <label class="custom-control custom-checkbox">
            <input id="radio-state1" name="radio" type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"></span>
          </label>

        </th>

        <th>Anti-A</th>
        <th>Anti-B</th>
        <th>Anti-AB</th>

        <th>A cells</th>
        <th>B cells</th>
        <th>O cells</th>

        <th>การแปลผล</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>

          <label class="custom-control custom-checkbox">
            <input id="radio-state1" name="radio" type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"></span>
          </label>

        </td>

        <td>Neg</td>
        <td>Neg</td>
        <td>Neg</td>

        <td>4+</td>
        <td>4+</td>
        <td>4+</td>

        <td>Group O with unexpected alloantibody</td>
      </tr>
    </tbody>
  </table>
</div>


<script>
  function showTable() {
    var x = document.getElementById("tempTable");
    console.log(x);
    x.style.display = (x.style.display == "table") ? "none" : "table";
  }
</script>
<script type="text/javascript">
  $('.selectpicker').selectpicker({
  });
</script>
<!-- <script src="/js/Bootstrap/Select/bootstrap-select.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
  crossorigin="anonymous"></script> -->