<!-- <div class="py-1" id="wrapper">
  <div class="container-col"> -->
<div class="py-3 border border-primary">
  <div class="container">

    <!-- <div class="text-red">12/31/2017 01:30 PM (ดด/วว/ปป ชั่วโมง:วินาที)</div> -->

    <div class="row">
      <div class="col-md-12">

        <div class="row">

          <div class="col-md-6">
            <div class="py-1 text-center bg-light border border-primary">
              <div class="container">

                <div class="row">
                  <div class="col-11">
                    <h4>Control</h4>
                  </div>
                  <div class="col-1">
                    <button type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h5 class="text-left">Secretor</h5>
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-radio">
                        <input id="secretor1" name="secretor" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="secretor2" name="secretor" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="secretor3" name="secretor" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="secretor4" name="secretor" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">1+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="secretor5" name="secretor" type="radio" class="custom-control-input" checked="">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Neg</span>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="text-left">Non-secretor</h5>
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-radio">
                        <input id="non-secretor1" name="non-secretor" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="non-secretor2" name="non-secretor" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="non-secretor3" name="non-secretor" type="radio" class="custom-control-input" checked="">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="non-secretor4" name="non-secretor" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">1+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="non-secretor5" name="non-secretor" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Neg</span>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="text-left">NSS</h5>
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-radio">
                        <input id="nss1" name="nss" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="nss2" name="nss" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="nss3" name="nss" type="radio" class="custom-control-input" checked="">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="nss4" name="nss" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">1+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="nss5" name="nss" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Neg</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6"> </div> -->
          </div>



          <div class="col-md-6">
            <div class="py-1 text-center bg-light border border-primary">
              <div class="container">


                <div class="row">
                  <div class="col-11">
                    <h4>Tests</h4>
                  </div>
                  <div class="col-1">
                    <button type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h5 class="text-left">Anti-A</h5>
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-radio">
                        <input id="Anti-A1" name="Anti-A" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-A2" name="Anti-A" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-A3" name="Anti-A" type="radio" class="custom-control-input" checked="">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-A4" name="Anti-A" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">1+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-A5" name="Anti-A" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Neg</span>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="text-left">Anti-B</h5>
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-radio">
                        <input id="Anti-B1" name="Anti-B" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-B2" name="Anti-B" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-B3" name="Anti-B" type="radio" class="custom-control-input" checked="">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-B4" name="Anti-B" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">1+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-B5" name="Anti-B" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Neg</span>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="text-left">Anti-H lectin</h5>
                    <div class="custom-controls-stacked">
                      <label class="custom-control custom-radio">
                        <input id="Anti-H1" name="Anti-H" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">4+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-H2" name="Anti-H" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">3+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-H3" name="Anti-H" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">2+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-H4" name="Anti-H" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">1+</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="Anti-H5" name="Anti-H" type="radio" class="custom-control-input" checked="">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Neg</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <p>หมายเหตุ</p>
        <input id="note" type="text" class="form-control-sm form-control">
        <br>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <label class="btn btn-sm btn-outline-secondary">
          Add Photo
          <input type="file" hidden id="photoBtn">
        </label>
      </div>
      <div class="col-5">
        <!-- <a href="#" id="editBtn" class="btn btn-warning btn-block" onclick="canEdit();" style="display:none" >Edit</a>
                                  <a href="#" id="anaBtn" class="btn btn-success btn-block" onclick="showAnalysis();" >บันทึก</a> -->
        <div id="tempNotFound" style="display: none;color:red">
          <h5>group O with unexpected alloantibody</h5>
        </div>
      </div>
    </div>

  </div>
</div>
<br>
<!-- <center>
                          <button type="button" id="anaBtn" class="btn btn-sm btn-success " onclick="showAnalysis();">บันทึก</button>
                        </center> -->
<button type="button" id="anaBtn" class="btn btn-sm btn-success " style="text-align:center">บันทึก</button>


<!-- <br> -->
<!-- <a href="phenotype1more.php" class="btn btn-dark" onclick="addTest();">More</a> -->
<!-- </div>
</div> -->