<div class="container-fluid">
  <h2 style="color:#365082">ค้นหา</h2>
  <form class="form-control">
    <div class="row">
      <div class="col">
        รหัสบัตรประชาชน
        <input type="text" class="form-control form-control-sm" id="id" placeholder="รหัสบัตรประชาชน 1-13 หลัก" value="1">
        <div class="row">
          <div class="col">
            ชื่อจริง
            <input type="text" class="form-control form-control-sm" placeholder="ชื่อจริง">
          </div>
          <div class="col">
            นามสกุล
            <input type="text" class="form-control form-control-sm" placeholder="นามสกุล">
          </div>
        </div>
      </div>
      <div class="col">
        จังหวัด
        <select class="form-control form-control-sm">
          <option value="audi"></option>
          <option value="volvo">เชียงใหม่</option>
          <option value="saab">เชียงราย</option>
          <option value="mercedes">ลำปาง</option>
          <option value="audi">ลำพูน</option>
          <option value="audi">พะเยา</option>
        </select>
        <div class="row">
          <div class="col">
            อำเภอ
            <select class="form-control form-control-sm">
              <option value="audi"></option>
              <option value="volvo">เมือง เชียงใหม่</option>
              <option value="saab">สันทราย</option>
              <option value="mercedes">สันกำแพง</option>
              <option value="audi">เชียงดาว</option>
              <option value="audi">หางดง</option>
            </select>
          </div>
          <div class="col">
            ตำบล
            <select class="form-control form-control-sm">
              <option value="audi"></option>
              <option value="volvo">สุเทพ</option>
              <option value="saab">วัดเกตุ</option>
              <option value="mercedes">ช้างเผือก</option>
              <option value="audi">ศรีภูมิ</option>
              <option value="audi">แม่เหี๊ยะ</option>
            </select>
          </div>
        </div>

      </div>
      <div class="col">
        หมู่เลือด
        <div class="checkbox form-control form-control-sm">
          <div class="row">
            <div class="col">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkStep" onchange="checkboxChange()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">A para-Bombay</span>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkStep" onchange="checkboxChange()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">B para-Bombay</span>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkStep" onchange="checkboxChange()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">AB para-Bombay</span>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkStep" onchange="checkboxChange()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">O para-Bombay</span>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkStep" onchange="checkboxChange()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">O Bombay</span>
              </label>
            </div>
            <div class="col-4">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkStep" onchange="checkboxChange()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">A</span>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkStep" onchange="checkboxChange()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">B</span>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkStep" onchange="checkboxChange()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">AB</span>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkStep" onchange="checkboxChange()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">O</span>
              </label>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col text-center">
        <button type="button" class="btn btn-sm btn-outline-primary " onclick="showTable();">ค้นหา</button>
      </div>
    </div>

  </form>
  <br>   
  <!-- <center>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="tempNotFound" style="display:none">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h6>ผลลัพธ์จากการค้นหา</h6>
      <h4>ไม่พบข้อมูลคนไข้ดังกล่าว</h4>
    </div>
  </center> -->

  <!-- <table id="tempTable" style="display: none" class="table table-sm table-striped table-bordered table-hover table-responsive thead-inverse"> -->
  <table id="tempTable" class="table table-sm table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>รหัสบัตรประชาชน</th>
        <th>ชื่อจริง</th>
        <th>นามสกุล</th>
        <th>จังหวัด</th>
        <th>อำเภอ</th>
        <th>ตำบล</th>
        <th>หมู่เลือด</th>
        <th>รายละเอียด</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>4565532102589</td>
        <td>คิมเบอร์ลี</td>
        <td>แอนเทียมศิริ</td>
        <td>เชียงใหม่</td>
        <td>เมือง เชียงใหม่</td>
        <td>สุเทพ</td>
        <td>O para-Bombay</td>
        <td>
          <a routerLink="/viewdetail" class="btn btn-sm btn-outline-primary">รายละเอียด</a>
        </td>
      </tr>
      <tr>
        <td>1532655803211</td>
        <td>อุรัสยา</td>
        <td>เสปอร์บันด์</td>
        <td>กรุงเทพ</td>
        <td>กรุงเทพ</td>
        <td>กรุงเทพ</td>
        <td>AB para-Bombay</td>
        <td>
          <a routerLink="/viewdetail" class="btn btn-sm btn-outline-primary">รายละเอียด</a>
        </td>
      </tr>
      <tr>
        <td>1010151598115</td>
        <td>ณเดชน์</td>
        <td>คูกิมิยะ</td>
        <td>เชียงราย</td>
        <td>เชียงราย</td>
        <td>เชียงราย</td>
        <td>A para-Bombay</td>
        <td>
          <a routerLink="/viewdetail" class="btn btn-sm btn-outline-primary">รายละเอียด</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>